MC_HOST=mc.yugame.ru
MC_PORT=25565
MC_VERSION=1.20.1
THREADS=5
MAX_RETRIES=3
ACCOUNTS_FILE=./accounts.txt

# URL вашей модели для решения капчи
CAPTCHA_API_URL=http://localhost:5000/predict
CAPTCHA_API_KEY=
